<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Prediction App</title>
</head>
<body>
    <h1>House Price Prediction</h1>
    <form action="/predict" method="post">
        <label for="avgAreaNumberOfRooms">Average Number of Rooms:</label>
        <input type="text" name="avgAreaNumberOfRooms" required><br>

        <label for="avgAreaNumberOfBedrooms">Average Number of Bedrooms:</label>
        <input type="text" name="avgAreaNumberOfBedrooms" required><br>

        <label for="areaPopulation">Area Population:</label>
        <input type="text" name="areaPopulation" required><br>

        <button type="submit">Predict Price</button>
    </form>
</body>